<a href="https://colab.research.google.com/github/YunjiSon/BDAA/blob/main/%EC%86%90%EC%9C%A4%EC%A7%80_1120_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 전처리 하는 방법

query() : 행을 추출

df[] : 컬럼, 열을 추출

sort_values() : 정렬

groupby() : 집단별 나누기

assign() : 변수 추가


agg() : 통계치 구하기

merge(): 데이터 합치기 (열)

concat(): 데이터 합치기 (행)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
filename = ('/content/drive/MyDrive/[5기] 데이터 분석 기초반/데이터셋/mpg.csv')

In [4]:
mpg = pd.read_csv('/content/drive/MyDrive/[5기] 데이터 분석 기초반/데이터셋/mpg.csv')

In [5]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
mpg.query('model == "passat"') #이거는 value가 string이라서 "" 처리 해줘야 한다? 
#어쨌든 특정 calumn에서 특정 value 값 파악할때

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [7]:
mpg.query('model != "passat"') #column에서 특정 값 제외한 row들만 보여줌.

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [8]:
## query 비교연산를 통해서도 데이터를  추출할 수 가능.
mpg.query('displ<=2') #displ column에서 2보다 작은 값들 빼낼 때.

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
115,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
116,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
117,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
118,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize

In [9]:
mpg.query('cty>30')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact

In [10]:
##여러 조건 한 번에 추가도 가능!
#and
mpg.query ('hwy<40 & fl =="r"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [11]:
#or
mpg.query('cty>40 | fl == "r"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [12]:
mpg.query('year in [2008, 1999]') #숫자 여러개면 반드시 list화 해줘야함.

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

쿼리를 이용해서 변수에 추출하고 그 변수를 이용해서 값을 추출

In [13]:
audi = mpg.query('manufacturer == "audi"')
volkswagen = mpg.query('manufacturer == "volkswagen"')

In [14]:
audi

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize

In [15]:
volkswagen

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [16]:
audi['displ'].mean() #원하는 수치 계산하기

2.5444444444444447

In [17]:
volkswagen['hwy'].sum()

789

In [18]:
audi['design'] = 'classical' #column 하나 추가. 어떤 수치 넣을지 정할 수 있음.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
audi

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,design
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,classical
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,classical
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,classical
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,classical
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,classical
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,classical
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,classical
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,classical
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,classical
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,classical
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,classical
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,classical
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,classical
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,classical
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,classical
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,classical
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,classical
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,classical

In [20]:
audi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  18 non-null     object
 1   model         18 non-null     object
 2   displ         18 non-null     float64
 3   year          18 non-null     int64
 4   cyl           18 non-null     int64
 5   trans         18 non-null     object
 6   drv           18 non-null     object
 7   cty           18 non-null     int64
 8   hwy           18 non-null     int64
 9   fl            18 non-null     object
 10  category      18 non-null     object
 11  design        18 non-null     object
dtypes: float64(1), int64(4), object(7)
memory usage: 1.8+ KB

In [21]:
df = pd.DataFrame({'a':['A','B','C'],
                 'b':[1,2,3]})
#이렇게 자체적으로 데이터 프레임 만들고

In [22]:
df.query('b == [1, 3]') #이렇게 추출 가능

   a  b
0  A  1
2  C  3

필요한 변수만 추출하기

In [23]:
mpg[['cty', 'model']] #원하는 column만 볼 수 있음.

     cty   model
0     18      a4
1     21      a4
2     20      a4
3     21      a4
4     16      a4
..   ...     ...
229   19  passat
230   21  passat
231   16  passat
232   18  passat
233   17  passat

[234 rows x 2 columns]

In [24]:
mpg.columns #column 뭐 있는지 확인

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'category'],
      dtype='object')

In [25]:
df_nonmodel = mpg.drop(columns = 'model') #column 제거

In [26]:
df_nonmodel

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl category
0           audi    1.8  1999    4    auto(l5)   f   18   29  p  compact
1           audi    1.8  1999    4  manual(m5)   f   21   29  p  compact
2           audi    2.0  2008    4  manual(m6)   f   20   31  p  compact
3           audi    2.0  2008    4    auto(av)   f   21   30  p  compact
4           audi    2.8  1999    6    auto(l5)   f   16   26  p  compact
..           ...    ...   ...  ...         ...  ..  ...  ... ..      ...
229   volkswagen    2.0  2008    4    auto(s6)   f   19   28  p  midsize
230   volkswagen    2.0  2008    4  manual(m6)   f   21   29  p  midsize
231   volkswagen    2.8  1999    6    auto(l5)   f   16   26  p  midsize
232   volkswagen    2.8  1999    6  manual(m5)   f   18   26  p  midsize
233   volkswagen    3.6  2008    6    auto(s6)   f   17   26  p  midsize

[234 rows x 10 columns]

In [27]:
mpg.drop(columns = 'model' , inplace=True) #원본 데이터에까지 반영

In [28]:
mpg

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl category
0           audi    1.8  1999    4    auto(l5)   f   18   29  p  compact
1           audi    1.8  1999    4  manual(m5)   f   21   29  p  compact
2           audi    2.0  2008    4  manual(m6)   f   20   31  p  compact
3           audi    2.0  2008    4    auto(av)   f   21   30  p  compact
4           audi    2.8  1999    6    auto(l5)   f   16   26  p  compact
..           ...    ...   ...  ...         ...  ..  ...  ... ..      ...
229   volkswagen    2.0  2008    4    auto(s6)   f   19   28  p  midsize
230   volkswagen    2.0  2008    4  manual(m6)   f   21   29  p  midsize
231   volkswagen    2.8  1999    6    auto(l5)   f   16   26  p  midsize
232   volkswagen    2.8  1999    6  manual(m5)   f   18   26  p  midsize
233   volkswagen    3.6  2008    6    auto(s6)   f   17   26  p  midsize

[234 rows x 10 columns]

In [29]:
mpg.query('cyl==6')['year'] #특정 행과 열 같이 추출

4      1999
5      1999
6      2008
11     1999
12     1999
       ...
219    1999
220    1999
231    1999
232    1999
233    2008
Name: year, Length: 79, dtype: int64

In [30]:
mpg.query('cyl==6')[['year', 'cty']] #두개 씌워야 list?

     year  cty
4    1999   16
5    1999   18
6    2008   18
11   1999   15
12   1999   17
..    ...  ...
219  1999   16
220  1999   17
231  1999   16
232  1999   18
233  2008   17

[79 rows x 2 columns]

In [31]:
mpg.query('displ==1.8 & cyl<6')[['year', 'cty']]

     year  cty
0    1999   18
1    1999   21
7    1999   18
8    1999   16
104  2008   26
105  2008   25
106  2008   24
193  1999   24
194  1999   24
195  1999   26
196  2008   28
197  2008   26
227  1999   21
228  1999   18

오름차순, 내림차순 정렬하기!

In [32]:
mpg.sort_values('year') #디폴트로 오름차순이 되어있다

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl category
0           audi    1.8  1999    4    auto(l5)   f   18   29  p  compact
125         jeep    4.7  1999    8    auto(l4)   4   14   17  r      suv
130   land rover    4.0  1999    8    auto(l4)   4   11   15  p      suv
133   land rover    4.6  1999    8    auto(l4)   4   11   15  p      suv
134      lincoln    5.4  1999    8    auto(l4)   r   11   17  r      suv
..           ...    ...   ...  ...         ...  ..  ...  ... ..      ...
128         jeep    5.7  2008    8    auto(l5)   4   13   18  r      suv
127         jeep    4.7  2008    8    auto(l5)   4   14   19  r      suv
126         jeep    4.7  2008    8    auto(l5)   4    9   12  e      suv
144       nissan    2.5  2008    4  manual(m6)   f   23   32  r  midsize
233   volkswagen    3.6  2008    6    auto(s6)   f   17   26  p  midsize

[234 rows x 10 columns]

In [33]:
mpg.sort_values('year', ascending=False) #내림차순 만들기

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl    category
117      hyundai    2.0  2008    4  manual(m5)   f   20   28  r  subcompact
120      hyundai    2.7  2008    6  manual(m6)   f   16   24  r  subcompact
122         jeep    3.0  2008    6    auto(l5)   4   17   22  d         suv
123         jeep    3.7  2008    6    auto(l5)   4   15   19  r         suv
126         jeep    4.7  2008    8    auto(l5)   4    9   12  e         suv
..           ...    ...   ...  ...         ...  ..  ...  ... ..         ...
130   land rover    4.0  1999    8    auto(l4)   4   11   15  p         suv
50         dodge    3.9  1999    6    auto(l4)   4   13   17  r      pickup
51         dodge    3.9  1999    6  manual(m5)   4   14   17  r      pickup
125         jeep    4.7  1999    8    auto(l4)   4   14   17  r         suv
0           audi    1.8  1999    4    auto(l5)   f   18   29  p     compact

[234 rows x 10 columns]

In [34]:
mpg.sort_values(['year', 'cty']) #이렇게 두개 동시에도 가능

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl    category
30     chevrolet    5.7  1999    8    auto(l4)   4   11   15  r         suv
55         dodge    5.2  1999    8  manual(m5)   4   11   17  r      pickup
56         dodge    5.2  1999    8    auto(l4)   4   11   15  r      pickup
61         dodge    5.2  1999    8    auto(l4)   4   11   16  r         suv
63         dodge    5.9  1999    8    auto(l4)   4   11   15  r         suv
..           ...    ...   ...  ...         ...  ..  ...  ... ..         ...
106        honda    1.8  2008    4    auto(l5)   f   24   36  c  subcompact
105        honda    1.8  2008    4    auto(l5)   f   25   36  r  subcompact
104        honda    1.8  2008    4  manual(m5)   f   26   34  r  subcompact
197       toyota    1.8  2008    4    auto(l4)   f   26   35  r     compact
196       toyota    1.8  2008    4  manual(m5)   f   28   37  r     compact

[234 rows x 10 columns]

In [35]:
#하나는 오름차순 하나는 내림차순 할 때
mpg.sort_values(['year', 'cty'], ascending=[False,True])
#기준은 먼저 사용한 칼럼.

    manufacturer  displ  year  cyl       trans drv  cty  hwy fl    category
54         dodge    4.7  2008    8    auto(l5)   4    9   12  e      pickup
59         dodge    4.7  2008    8    auto(l5)   4    9   12  e         suv
65         dodge    4.7  2008    8    auto(l5)   4    9   12  e      pickup
69         dodge    4.7  2008    8  manual(m6)   4    9   12  e      pickup
126         jeep    4.7  2008    8    auto(l5)   4    9   12  e         suv
..           ...    ...   ...  ...         ...  ..  ...  ... ..         ...
195       toyota    1.8  1999    4  manual(m5)   f   26   35  r     compact
99         honda    1.6  1999    4  manual(m5)   f   28   33  r  subcompact
222   volkswagen    1.9  1999    4    auto(l4)   f   29   41  d  subcompact
212   volkswagen    1.9  1999    4  manual(m5)   f   33   44  d     compact
221   volkswagen    1.9  1999    4  manual(m5)   f   35   44  d  subcompact

[234 rows x 10 columns]

파생변수 만들기 with assign()

In [55]:
mpg.assign(tot = mpg['year']+mpg['cty']+mpg['hwy'])

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean,tot
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000,2046
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000,2049
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333,2059
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333,2059
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000,2041
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000,2055
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000,2058
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000,2041
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667,2043
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333,2051

In [38]:
mpg['mean'] = (mpg['cty']+mpg['hwy']+mpg['cyl'])/3

In [56]:
mpg

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333

In [54]:
mpg

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333

In [58]:
mpg['total']= mpg['year']+mpg['cty']+mpg['hwy']

In [59]:
mpg

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean,total
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000,2046
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000,2049
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333,2059
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333,2059
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000,2041
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000,2055
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000,2058
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000,2041
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667,2043
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333,2051

In [60]:
mpg.query('total>2046')

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean,total
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000,2049
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333,2059
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333,2059
6,audi,3.1,2008,6,auto(av),f,18,27,p,compact,17.000000,2053
9,audi,2.0,2008,4,manual(m6),4,20,28,p,compact,17.333333,2056
...,...,...,...,...,...,...,...,...,...,...,...,...
226,volkswagen,2.5,2008,5,auto(s6),f,20,29,r,subcompact,18.000000,2057
227,volkswagen,1.8,1999,4,manual(m5),f,21,29,p,midsize,18.000000,2049
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000,2055
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000,2058
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333,2051

In [61]:
mpg_new = mpg.sort_values('total', ascending=True)

람다 활용하기

In [64]:
mpg.assign(total = lambda x: x['cty']+ x['hwy']+x['cyl'])

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean,total
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000,51
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000,54
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333,55
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333,55
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000,48
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000,51
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000,54
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000,48
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667,50
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333,49

In [66]:
mpg.assign(tot = lambda x: x['cty']+ x['hwy']+x['cyl'],
           mean = lambda x: x['tot']/3)

,manufacturer,displ,year,cyl,trans,drv,cty,hwy,fl,category,mean,total,tot
0,audi,1.8,1999,4,auto(l5),f,18,29,p,compact,17.000000,2046,51
1,audi,1.8,1999,4,manual(m5),f,21,29,p,compact,18.000000,2049,54
2,audi,2.0,2008,4,manual(m6),f,20,31,p,compact,18.333333,2059,55
3,audi,2.0,2008,4,auto(av),f,21,30,p,compact,18.333333,2059,55
4,audi,2.8,1999,6,auto(l5),f,16,26,p,compact,16.000000,2041,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,2.0,2008,4,auto(s6),f,19,28,p,midsize,17.000000,2055,51
230,volkswagen,2.0,2008,4,manual(m6),f,21,29,p,midsize,18.000000,2058,54
231,volkswagen,2.8,1999,6,auto(l5),f,16,26,p,midsize,16.000000,2041,48
232,volkswagen,2.8,1999,6,manual(m5),f,18,26,p,midsize,16.666667,2043,50
233,volkswagen,3.6,2008,6,auto(s6),f,17,26,p,midsize,16.333333,2051,49

집단별 요약 (groupby)

.groupby('컬럼') # 해당컬럼을 묶어서 보여준다

.agg(변수 = ('컬럼','원하는 통계치')

In [73]:
grouped = mpg.groupby('manufacturer')
grouped

In [77]:
#각종 계산이 용이
mpg.groupby('manufacturer').agg(sum_cty = ('cty','sum'))

              sum_cty
manufacturer
audi              317
chevrolet         285
dodge             486
ford              350
honda             220
hyundai           261
jeep              108
land rover         46
lincoln            34
mercury            53
nissan            235
pontiac            85
subaru            270
toyota            630
volkswagen        565

In [79]:
##여러 개의 변수 한꺼번에 볼 수 있음.

mpg.groupby('manufacturer').agg(mean_cty = ('cty','mean'),
                          cty_sum = ('cty','sum'),
                          cty_median = ('cty','median'),
                          n =('manufacturer','count'))

               mean_cty  cty_sum  cty_median   n
manufacturer
audi          17.611111      317        17.5  18
chevrolet     15.000000      285        15.0  19
dodge         13.135135      486        13.0  37
ford          14.000000      350        14.0  25
honda         24.444444      220        24.0   9
hyundai       18.642857      261        18.5  14
jeep          13.500000      108        14.0   8
land rover    11.500000       46        11.5   4
lincoln       11.333333       34        11.0   3
mercury       13.250000       53        13.0   4
nissan        18.076923      235        19.0  13
pontiac       17.000000       85        17.0   5
subaru        19.285714      270        19.0  14
toyota        18.529412      630        18.0  34
volkswagen    20.925926      565        21.0  27

In [80]:
mpg.groupby('manufacturer').sum()

              displ   year  cyl  cty  hwy        mean  total
manufacturer
audi           45.8  36063   94  317  476  295.666667  36856
chevrolet      96.2  38089  138  285  416  279.666667  38790
dodge         162.0  74152  262  486  664  470.666667  75302
ford          113.4  50065  180  350  484  338.000000  50899
honda          15.4  18027   36  220  293  183.000000  18540
hyundai        34.0  28058   68  261  376  235.000000  28695
jeep           36.6  16046   58  108  141  102.333333  16295
land rover     17.2   8014   32   46   66   48.000000   8126
lincoln        16.2   6006   24   34   51   36.333333   6091
mercury        17.6   8014   28   53   72   51.000000   8139
nissan         42.5  26050   72  235  320  209.000000  26605
pontiac        19.8  10013   32   85  132   83.000000  10230
subaru         34.4  28058   56  270  358  228.000000  28686
toyota        100.4  68092  174  630  847  550.333333  69569
volkswagen     60.9  54072  124  565  789  492.666667  55426

데이터 병합하고 합치기

In [82]:
a = pd.DataFrame({'id':[1,2,3,4,5],
                 'midterm':[50,60,70,80,90]})

b = pd.DataFrame({'id':[1,2,3,4,5],
                 'final':[40,60,80,30,80]})

In [86]:
print(a)
display(a)
display(b)

   id  midterm
0   1       50
1   2       60
2   3       70
3   4       80
4   5       90

   id  midterm
0   1       50
1   2       60
2   3       70
3   4       80
4   5       90

   id  final
0   1     40
1   2     60
2   3     80
3   4     30
4   5     80

In [88]:
total = pd.merge(a, b, how='inner') #inner 는 교집합
total

   id  midterm  final
0   1       50     40
1   2       60     60
2   3       70     80
3   4       80     30
4   5       90     80

In [89]:
###concat : 데이터프레임을 말그대로 물리적으로 이어 붙여주는 함수
pd.concat([a,b],axis=0) #0은 행이고 1은 열이다

   id  midterm  final
0   1     50.0    NaN
1   2     60.0    NaN
2   3     70.0    NaN
3   4     80.0    NaN
4   5     90.0    NaN
0   1      NaN   40.0
1   2      NaN   60.0
2   3      NaN   80.0
3   4      NaN   30.0
4   5      NaN   80.0