<a href="https://colab.research.google.com/github/YunjiSon/BDAA/blob/main/%EC%86%90%EC%9C%A4%EC%A7%80_1120_%ED%80%B4%EC%A6%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
filename = ('/content/drive/MyDrive/[5기] 데이터 분석 기초반/데이터셋/mpg.csv')

In [4]:
mpg = pd.read_csv('/content/drive/MyDrive/[5기] 데이터 분석 기초반/데이터셋/mpg.csv')

In [5]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

hwy: 고속도로 주행 연비

cyl: 실린더개수

displ: 배기량

year: 제조 년도

cty: 도시 연비

drv: 구동방식 : f = 전륜구동, r = 후륜구동, 4 = 사륜구동

fl: 연료종류

trans: 변속기

1. volkswagen의 평균 연비는?

In [6]:
volks = mpg.query('manufacturer == "volkswagen"')

In [7]:
volks['tot'] = (volks['cty']+volks['hwy'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
volks

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,tot
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,50
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,45
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,50
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,51
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,41
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,77
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,50
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,45
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,51
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,50
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,50
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,50
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,39
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,41
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,79
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,70
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,50
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,45
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,48
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,49
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,50
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,47
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43

In [9]:
mpg['manufacturer'].value_counts()

dodge         37
toyota        34
volkswagen    27
ford          25
chevrolet     19
audi          18
hyundai       14
subaru        14
nissan        13
honda          9
jeep           8
pontiac        5
land rover     4
mercury        4
lincoln        3
Name: manufacturer, dtype: int64

In [10]:
volks['tot'].sum()/27

50.148148148148145

2. 현대, 토요타, 포드 중 고속도로 평균연비가 가장 좋은 회사의 차는?

In [11]:
mpg_hwy = mpg.groupby('manufacturer').agg(mean_hwy = ('hwy','mean'))

In [12]:
mpg_hwy3 = mpg_hwy.query('manufacturer=="hyundai"| manufacturer == "toyota" | manufacturer == "ford"')
mpg_hwy3

               mean_hwy
manufacturer
ford          19.360000
hyundai       26.857143
toyota        24.911765

In [13]:
mpg_hwy3.sort_values('mean_hwy', ascending=False)

               mean_hwy
manufacturer
hyundai       26.857143
toyota        24.911765
ford          19.360000

3. 평균 제조년도가 오래된 순서로 자동차 모델 나열하기

In [14]:
model_year = mpg.groupby('model').agg(year_mean = ('year','mean'))
model_year

                          year_mean
model
4runner 4wd             2002.000000
a4                      2002.857143
a4 quattro              2003.500000
a6 quattro              2005.000000
altima                  2005.000000
c1500 suburban 2wd      2006.200000
camry                   2002.857143
camry solara            2002.857143
caravan 2wd             2003.090909
civic                   2003.000000
corolla                 2002.600000
corvette                2004.400000
dakota pickup 4wd       2004.000000
durango 4wd             2004.142857
expedition 2wd          2002.000000
explorer 4wd            2002.000000
f150 pickup 4wd         2001.571429
forester awd            2005.000000
grand cherokee 4wd      2005.750000
grand prix              2002.600000
gti                     2002.600000
impreza awd             2003.500000
jetta                   2003.000000
k1500 tahoe 4wd         2003.500000
land cruiser wagon 4wd  2003.500000
malibu                  2004.400000
maxima                  2002.000000
mountaineer 4wd         2003.500000
mustang                 2004.000000
navigator 2wd           2002.000000
new beetle              2002.000000
passat                  2002.857143
pathfinder 4wd          2003.500000
ram 1500 pickup 4wd     2005.300000
range rover             2003.500000
sonata                  2002.857143
tiburon                 2005.428571
toyota tacoma 4wd       2002.857143

In [15]:
model_year.sort_values('year_mean')

                          year_mean
model
f150 pickup 4wd         2001.571429
4runner 4wd             2002.000000
new beetle              2002.000000
navigator 2wd           2002.000000
maxima                  2002.000000
explorer 4wd            2002.000000
expedition 2wd          2002.000000
gti                     2002.600000
grand prix              2002.600000
corolla                 2002.600000
sonata                  2002.857143
passat                  2002.857143
toyota tacoma 4wd       2002.857143
a4                      2002.857143
camry solara            2002.857143
camry                   2002.857143
civic                   2003.000000
jetta                   2003.000000
caravan 2wd             2003.090909
range rover             2003.500000
pathfinder 4wd          2003.500000
impreza awd             2003.500000
k1500 tahoe 4wd         2003.500000
land cruiser wagon 4wd  2003.500000
a4 quattro              2003.500000
mountaineer 4wd         2003.500000
dakota pickup 4wd       2004.000000
mustang                 2004.000000
durango 4wd             2004.142857
malibu                  2004.400000
corvette                2004.400000
a6 quattro              2005.000000
forester awd            2005.000000
altima                  2005.000000
ram 1500 pickup 4wd     2005.300000
tiburon                 2005.428571
grand cherokee 4wd      2005.750000
c1500 suburban 2wd      2006.200000

4. 배기량이 2이상 2.5이하인 자동차와 5 이상인 자동차의 도시 연비 평균

In [16]:
mpg.query('displ>=2 & displ<=2.5')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
109,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
112,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize
113,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
115,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
116,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
117,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
118,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
142,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
160,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
165,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
166,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
167,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize

In [17]:
mpg.query('displ>=2 & displ<=2.5')['cty'].mean()

20.083333333333332

5. midsize의 고속도로 연비가 가장 좋은 차?

In [18]:
mpg.query('category =="midsize"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
35,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
36,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
109,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
112,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize
113,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
114,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
145,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize
146,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
147,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
148,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
149,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
154,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
155,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
157,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
158,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
183,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
184,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
185,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [19]:
mpg.query('category =="midsize"').sort_values('cty', ascending = False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
145,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize
185,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
149,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
146,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
148,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
114,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
184,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
147,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
113,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
112,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize
154,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
109,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize
157,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
35,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
183,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
36,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
158,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
155,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize

6. model별로 가장 도시연비가 좋은 차는?

In [20]:
mpg['model'].value_counts()

caravan 2wd               11
ram 1500 pickup 4wd       10
civic                      9
jetta                      9
dakota pickup 4wd          9
mustang                    9
impreza awd                8
a4 quattro                 8
grand cherokee 4wd         8
a4                         7
toyota tacoma 4wd          7
camry solara               7
camry                      7
tiburon                    7
sonata                     7
passat                     7
f150 pickup 4wd            7
durango 4wd                7
explorer 4wd               6
new beetle                 6
altima                     6
4runner 4wd                6
forester awd               6
gti                        5
c1500 suburban 2wd         5
corolla                    5
corvette                   5
malibu                     5
grand prix                 5
k1500 tahoe 4wd            4
pathfinder 4wd             4
mountaineer 4wd            4
range rover                4
maxima                     3
navigator 2wd              3
a6 quattro                 3
expedition 2wd             3
land cruiser wagon 4wd     2
Name: model, dtype: int64

In [21]:
model_cty = mpg.groupby('model').agg(sum_cty = ('cty', 'sum'))
model_cty

                        sum_cty
model
4runner 4wd                  91
a4                          132
a4 quattro                  137
a6 quattro                   48
altima                      124
c1500 suburban 2wd           64
camry                       139
camry solara                139
caravan 2wd                 174
civic                       220
corolla                     128
corvette                     77
dakota pickup 4wd           115
durango 4wd                  83
expedition 2wd               34
explorer 4wd                 82
f150 pickup 4wd              91
forester awd                113
grand cherokee 4wd          108
grand prix                   85
gti                         100
impreza awd                 157
jetta                       191
k1500 tahoe 4wd              50
land cruiser wagon 4wd       24
malibu                       94
maxima                       56
mountaineer 4wd              53
mustang                     143
navigator 2wd                34
new beetle                  144
passat                      130
pathfinder 4wd               55
ram 1500 pickup 4wd         114
range rover                  46
sonata                      133
tiburon                     128
toyota tacoma 4wd           109

In [22]:
model_cty.sort_values('sum_cty', ascending=False)

                        sum_cty
model
civic                       220
jetta                       191
caravan 2wd                 174
impreza awd                 157
new beetle                  144
mustang                     143
camry                       139
camry solara                139
a4 quattro                  137
sonata                      133
a4                          132
passat                      130
tiburon                     128
corolla                     128
altima                      124
dakota pickup 4wd           115
ram 1500 pickup 4wd         114
forester awd                113
toyota tacoma 4wd           109
grand cherokee 4wd          108
gti                         100
malibu                       94
4runner 4wd                  91
f150 pickup 4wd              91
grand prix                   85
durango 4wd                  83
explorer 4wd                 82
corvette                     77
c1500 suburban 2wd           64
maxima                       56
pathfinder 4wd               55
mountaineer 4wd              53
k1500 tahoe 4wd              50
a6 quattro                   48
range rover                  46
navigator 2wd                34
expedition 2wd               34
land cruiser wagon 4wd       24

7. Volkswagen new beetle 복합 연비 합의 평균

In [23]:
volkswagen_newbeetle = mpg.query('manufacturer == "volkswagen"& model == "new beetle"')
volkswagen_newbeetle

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [24]:
volkswagen_newbeetletot=volkswagen_newbeetle.assign(tot = volkswagen_newbeetle['cty']+volkswagen_newbeetle['hwy'])

In [25]:
volkswagen_newbeetletot['tot'].sum()/6

56.833333333333336

8. model 별 도시 연비, 고속도로 연비 평균

In [26]:
mpg.groupby('model').agg(cty_mean = ('cty', 'mean'),
                         hwy_mean = ('hwy','mean'))

                         cty_mean   hwy_mean
model
4runner 4wd             15.166667  18.833333
a4                      18.857143  28.285714
a4 quattro              17.125000  25.750000
a6 quattro              16.000000  24.000000
altima                  20.666667  28.666667
c1500 suburban 2wd      12.800000  17.800000
camry                   19.857143  28.285714
camry solara            19.857143  28.142857
caravan 2wd             15.818182  22.363636
civic                   24.444444  32.555556
corolla                 25.600000  34.000000
corvette                15.400000  24.800000
dakota pickup 4wd       12.777778  17.000000
durango 4wd             11.857143  16.000000
expedition 2wd          11.333333  17.333333
explorer 4wd            13.666667  18.000000
f150 pickup 4wd         13.000000  16.428571
forester awd            18.833333  25.000000
grand cherokee 4wd      13.500000  17.625000
grand prix              17.000000  26.400000
gti                     20.000000  27.400000
impreza awd             19.625000  26.000000
jetta                   21.222222  29.111111
k1500 tahoe 4wd         12.500000  16.250000
land cruiser wagon 4wd  12.000000  16.500000
malibu                  18.800000  27.600000
maxima                  18.666667  25.333333
mountaineer 4wd         13.250000  18.000000
mustang                 15.888889  23.222222
navigator 2wd           11.333333  17.000000
new beetle              24.000000  32.833333
passat                  18.571429  27.571429
pathfinder 4wd          13.750000  18.000000
ram 1500 pickup 4wd     11.400000  15.300000
range rover             11.500000  16.500000
sonata                  19.000000  27.714286
tiburon                 18.285714  26.000000
toyota tacoma 4wd       15.571429  19.428571

9. model 별 도시 연비 가장 높은 차, 고속도로 연비 평균 가장 낮은 차

In [27]:
model_mean =mpg.groupby('model').agg(cty_mean = ('cty', 'mean'),
                         hwy_mean = ('hwy','mean'))

In [28]:
model_mean.sort_values('cty_mean', ascending= False)

                         cty_mean   hwy_mean
model
corolla                 25.600000  34.000000
civic                   24.444444  32.555556
new beetle              24.000000  32.833333
jetta                   21.222222  29.111111
altima                  20.666667  28.666667
gti                     20.000000  27.400000
camry                   19.857143  28.285714
camry solara            19.857143  28.142857
impreza awd             19.625000  26.000000
sonata                  19.000000  27.714286
a4                      18.857143  28.285714
forester awd            18.833333  25.000000
malibu                  18.800000  27.600000
maxima                  18.666667  25.333333
passat                  18.571429  27.571429
tiburon                 18.285714  26.000000
a4 quattro              17.125000  25.750000
grand prix              17.000000  26.400000
a6 quattro              16.000000  24.000000
mustang                 15.888889  23.222222
caravan 2wd             15.818182  22.363636
toyota tacoma 4wd       15.571429  19.428571
corvette                15.400000  24.800000
4runner 4wd             15.166667  18.833333
pathfinder 4wd          13.750000  18.000000
explorer 4wd            13.666667  18.000000
grand cherokee 4wd      13.500000  17.625000
mountaineer 4wd         13.250000  18.000000
f150 pickup 4wd         13.000000  16.428571
c1500 suburban 2wd      12.800000  17.800000
dakota pickup 4wd       12.777778  17.000000
k1500 tahoe 4wd         12.500000  16.250000
land cruiser wagon 4wd  12.000000  16.500000
durango 4wd             11.857143  16.000000
range rover             11.500000  16.500000
ram 1500 pickup 4wd     11.400000  15.300000
expedition 2wd          11.333333  17.333333
navigator 2wd           11.333333  17.000000

In [29]:
model_mean.sort_values('hwy_mean', ascending= True)

                         cty_mean   hwy_mean
model
ram 1500 pickup 4wd     11.400000  15.300000
durango 4wd             11.857143  16.000000
k1500 tahoe 4wd         12.500000  16.250000
f150 pickup 4wd         13.000000  16.428571
range rover             11.500000  16.500000
land cruiser wagon 4wd  12.000000  16.500000
navigator 2wd           11.333333  17.000000
dakota pickup 4wd       12.777778  17.000000
expedition 2wd          11.333333  17.333333
grand cherokee 4wd      13.500000  17.625000
c1500 suburban 2wd      12.800000  17.800000
pathfinder 4wd          13.750000  18.000000
mountaineer 4wd         13.250000  18.000000
explorer 4wd            13.666667  18.000000
4runner 4wd             15.166667  18.833333
toyota tacoma 4wd       15.571429  19.428571
caravan 2wd             15.818182  22.363636
mustang                 15.888889  23.222222
a6 quattro              16.000000  24.000000
corvette                15.400000  24.800000
forester awd            18.833333  25.000000
maxima                  18.666667  25.333333
a4 quattro              17.125000  25.750000
tiburon                 18.285714  26.000000
impreza awd             19.625000  26.000000
grand prix              17.000000  26.400000
gti                     20.000000  27.400000
passat                  18.571429  27.571429
malibu                  18.800000  27.600000
sonata                  19.000000  27.714286
camry solara            19.857143  28.142857
camry                   19.857143  28.285714
a4                      18.857143  28.285714
altima                  20.666667  28.666667
jetta                   21.222222  29.111111
civic                   24.444444  32.555556
new beetle              24.000000  32.833333
corolla                 25.600000  34.000000

10. 제조사별 평균 배기량은?

In [30]:
mpg.groupby('manufacturer').agg(displ_mean = ('displ', 'mean'))

              displ_mean
manufacturer
audi            2.544444
chevrolet       5.063158
dodge           4.378378
ford            4.536000
honda           1.711111
hyundai         2.428571
jeep            4.575000
land rover      4.300000
lincoln         5.400000
mercury         4.400000
nissan          3.269231
pontiac         3.960000
subaru          2.457143
toyota          2.952941
volkswagen      2.255556

11. 연료종류별 복합연비의 합은?

In [33]:
mpg_tot = mpg.assign(tot = mpg['cty']+mpg['hwy'])
mpg_tot

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,tot
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43

In [34]:
mpg_tot.groupby('fl').agg(tot_sum = ('tot','sum'))

    tot_sum
fl
c        60
d       296
e       184
p      2215
r      6675

12. 제조년도와 연료 종류의 상관관계는?

In [37]:
mpg_year = mpg.sort_values(['year', 'fl'], ascending=True)
mpg_year

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

In [38]:
mpg_year.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact

In [39]:
mpg_year.tail()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact

13. 고속도로 주행 연비가 20 이하인 것들 중 2008년 이후 제작된 자동차는?

In [41]:
mpg.query('hwy<=20 & year>=2008')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
48,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
49,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
52,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
62,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
64,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
72,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
76,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
80,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
81,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
87,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup
89,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup
98,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
123,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
128,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
131,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv
132,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
153,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
199,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup

14. 카테고리별 실린더 갯수 평균은?

In [42]:
mpg.groupby('category').agg(cyl_mean = ('cyl', 'mean'))

            cyl_mean
category
2seater     8.000000
compact     4.595745
midsize     5.317073
minivan     5.818182
pickup      7.030303
subcompact  5.028571
suv         6.967742

15. audi a4의 평균 배기량은?

In [45]:
mpg_audia4 = mpg.query('manufacturer == "audi" & model == "a4" ')
mpg_audia4

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact
5         audi    a4    2.8  1999    6  manual(m5)   f   18   26  p  compact
6         audi    a4    3.1  2008    6    auto(av)   f   18   27  p  compact

In [48]:
mpg_audia4['displ'].mean()

2.3285714285714287